.common-service-section {
    display: block;

    .service-header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    
        .section-tagline {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: black;
        }
    
        .section-title {
          font-size: 36px;
          font-weight: 700;
          line-height: 1.2;
          color: black;
          text-transform: uppercase;
        }
    
        .section-description {
          font-size: 16px;
          line-height: 1.8;
          color: black;
        }
      }

    .website-service-grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .webiste-service-card {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border: 2px solid black;
            padding: 30px;
            border-radius: 20px;
            width: 100%;
            height: 100%;

            .service-title {
                font-size: 28px;
            }

            .service-description {
                a {
                    text-decoration: underline;

                    &:hover {
                        color: #00a8e8;
                    }
                }
            }

            .icon {
                position: absolute;
                right: 20px;
                bottom: 20px;
                width: 30px;
                height: 30px;
                font-size: 30px;
                // background: black;
                color: black;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .5s;
                // border: 2px solid black;
                cursor: pointer;
            }

            .icon:hover {
                // background: white;
                // color: black;
                // border: 2px solid black;
                transition: all .5s;
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 1400px) {
    .common-service-section {
        .website-service-grid {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}

@media (max-width: 720px) {
    .common-service-section {
        .main-title {
            text-align: center;
        }
        
        .website-service-grid {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
}

@media (max-width: 550px) {
    .common-service-section {
        .website-service-grid {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

@media (max-width: 450px) {
    .common-service-section {
        .website-service-grid {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media (max-width: 330px) {
    .common-service-section {
        .website-service-grid {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}