@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  // font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;

  width: 100%;
  min-height: 100vh;
}

html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

section {
  height: 100%;
  scroll-snap-align: center;
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, input, textarea {
  font-family: "Montserrat", sans-serif;
}

.btn {
  box-shadow: 0 8px 32px rgba(48, 40, 36, 0.3);
  border-radius: 50px;
  padding: 14px 40px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.primary-btn {
  background: #EC1C24;
  color: white;
  box-shadow: 0 8px 32px rgba(65, 109, 24, 0.3);
  
  &:hover {
    background: #EC1C24;
    box-shadow: 0 8px 32px rgba(65, 109, 24, 0.5);
    transform: translateY(-2px);
  }
  
  &:active {
    transform: translateY(0);
  }
}

.secondary-btn {
  background: #676767;
  color: white;
  box-shadow: 0 8px 32px rgba(0, 63, 57, 0.3);
  
  &:hover {
    background: #676767;
    box-shadow: 0 8px 32px rgba(0, 63, 57, 0.5);
    transform: translateY(-2px);
  }
  
  &:active {
    transform: translateY(0);
  }
}

// Blinking animation for contact form button
@keyframes blinkButton {
  0%, 100% {
      background: #EC1C24;
      border-color: #F8F7C1;
      color: white;
  }
  50% {
      background: #676767;
      border-color: #EC1C24;
      color: white;
  }
}

$white: #ffffff;
$black: #000000;
$primary: #EC1C24;
$secondary: #676767;
$tertiary: #F8F7C1;
$quaternary: #000000;
$quinary: #000000;
$senary: #000000;
$septenary: #000000;
$octonary: #000000;
$nonary: #000000;
$denary: #000000;
$primary-text: #EC1C24;
$secondary-text: #676767;
$accent: #FFC700;
$bg-dark: #676767;
$bg-soft: #F8F7C1;
$bg-grey: #F9F9F9;

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.section-container {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width: 2000px) {
    padding-left: 250px;
    padding-right: 250px;
  }

  @media (max-width: 1800px) {
    padding-left: 200px;
    padding-right: 200px;
  }

  @media (max-width: 1600px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  @media (max-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (max-width: 500px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}